/***************************** 
* nombre : PROYECTO
* autor : Ricardo Adalberto R. M.
* archivo : estilos.css
* 
* CSS DIRECTORIO:
*	1.- configuraciones
*  	2.-header
*	4.-slides
*	5.-caracteristiacas
*	6.-portafolio
*	7.-experiencia
*	7.-footer
*   8.- MENU DESPLEGABLE     
*************************/

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Source Sans Pro';
    font-weight: 400;
    color: #9999aa;
}


/* header */

.header {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    --color: gray;
}

.container__header {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    display: inline-block;
    margin-right: auto;
}

.header__navegacion {
    padding-top: 15px;
}

.header__navegacion ul li {
    display: inline-block;
    margin-left: 10px;
}

.header__navegacion ul li a {
    color: var(--color);
}


/* SLIDES */

#slides {
    position: relative;
}

.slidesjs-navigation {
    position: absolute;
    top: 45%;
    cursor: pointer;
    z-index: 10;
}

.slidesjs-next {
    right: 0px;
}


/* CONFIGURACION GLOBAL SECCIONES */

section {
    width: 100%;
    padding: 50px 0px 50px;
    background-color: rgb(255, 255, 255);
}

.seccion__cabecera {
    margin: 0px 0px 50px;
}

.seccion__titulo {
    color: #556677;
    font-family: 'Source Sans Pro', Helvetica;
    font-size: 3em;
}

.seccion__descripcion {
    margin: 10px;
    font-size: 1.5em;
}


/* CARACTERISTICAS */

.caracteristica-image {
    border-radius: 70px;
    padding: 40px;
    border: 1px solid #ddd;
}


/* PORTAFOLIO */

.portafolio {
    padding: 20px 0px;
}

.portafolio-imagen {
    width: 100%;
    margin: 5px;
}


/* EXPERIENCIA */

.experiencia {
    background-image: linear-gradient(rgba(61, 62, 63, 0.24), rgba(46, 45, 45, 0.705)), url(../img/FNEB.jpg);
    padding: 20px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    color: white;
}


/* se puede reutilizar este boton */

.experiencia__boton {
    padding: 10px;
    border: 1px solid green;
    color: white;
}

.experiencia p {
    padding: 20px 0px;
}


/* FOOTER */

footer {
    background-color: #2ED6F7;
    padding: 20px 0px;
    color: white;
    line-height: 1.8;
}

.footer__info {
    padding: 40px 0px;
}

.copy {
    padding: 10px 0px;
}

#headerMenu{
    margin-left: 90%;
    width:50px;
    font-family: Arial;
        z-index: 20;
          

}

ul, ol{
    list-style:none;
            z-index: 20;

}

.nav li a{
background-color: #fff;
color: rgba(0,0,0,0.5);
width: 150px;
text-decoration: none;
padding: 10px 15px;
display: block;

}

.nav li a:hover{

background-color:#fff;
}

.nav > li{

    float:left;
}

.nav li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover > ul{
display: block;

}