/***************************** 
* nombre : PROYECTO
* autor : Ricardo Adalberto R. M.
* archivo : estilos.css
* 
* CSS DIRECTORIO:
*	1.- configuraciones
*  	2.-header
*	4.-slides
*	5.-caracteristiacas
*	6.-portafolio
*	7.-experiencia
*	7.-footer
*   8.- MENU DESPLEGABLE     
*************************/

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    line-height: 1.5;
}


/* header */

.header {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    --color: rgb(124, 123, 123);
    position: fixed;
    background-color: #f7f7f7;
    z-index: 100;
}

.container__header {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    display: inline-block;
    margin-right: auto;
}

.header__navegacion {
    padding-top: 15px;
}

.header__navegacion ul li {
    display: inline-block;
    margin-left: 10px;
}

.header__navegacion ul li a {
    color: var(--color);
    font-weight: 900;
}


/* SLIDES */

#slides {
    position: relative;
}


.slidesjs-navigation {
    position: absolute;
    top: 45%;
    cursor: pointer;
    z-index: 10;
}


.slidesjs-next {
    right: 0px;
}

.slidesjs-control{
    top:-200px;
}


/* CONFIGURACION GLOBAL SECCIONES */

section {
    width: 100%;
    padding: 60px 0px 60px;
    background-color: rgb(255, 255, 255);
    font-size: 1.2em;
}

.seccion__cabecera {
    margin: 0px 0px 50px;
}

.seccion__titulo {
    font-weight: 900;
    font-size: 2.7em;
}


.seccion__descripcion {
    margin: 10px;
    font-size: 1.5em;
}

/*SOMOS*/

.somos{
    background-color: #04daf2;
}

/* CARACTERISTICAS */

.caracteristica-image {
    border-radius: 70px;
    padding: 40px;
    border: 1px solid #ddd;
}

/* PORTAFOLIO */

.portafolio {
    padding: 20px 0px;
}

.portafolio-imagen {
    width: 50%;
    margin: 10px auto;
}


/* EXPERIENCIA */

.experiencia {
    background-image: linear-gradient(#3c62b9eb, #8155a2d4), url(../img/OLDIMGS/working.jpg);
    padding: 20px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    color: white;
}

.experiencia span {
    font-weight: 900;
}

/* se puede reutilizar este boton */

.experiencia__boton {
    padding: 10px;
    border: 1px solid green;
    color: white;
}

.experiencia p {
    padding: 20px 0px;
}

/*TRABAJO*/
.trabajo{
    background-color: #a03d72;
}

/* FOOTER */

footer {
    background-color:#201d1d;
    padding: 20px 0px;
    color:#849c9c;
    line-height: 1.8;
}

.footer__info {
    padding: 40px 0px;
}

.copy {
    padding: 10px 0px;
}



/* helpers */
.white {
    color: white;
}



@media only screen and (max-width: 600px) {
   .header__navegacion {
    display: none;
   }

   .header__logo{
       margin: 0 auto;
   }

   
    #slides {
        top: 45px;
        height: 286px;
    }

   .slidesjs-container {
        height: 300px;
    }

    .somos {
        margin-top: -110px;
     }
     .slidesjs-control{
        top:10px;
        width: 900px;
    }
}


@media only screen and (max-width: 1100px) {

    .somos {
        margin-top: 10px;
     }
     .slidesjs-control{
        top:20px;
    }
 
 }